.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TRACcolor{
  padding: 10%;
  height: 90%;
background-color: #B3F5FF;  
}



.DEBGcolor{
  padding: 10%;
  height: 90%;
  width: 90%;

background-color: #8FE5A6;
}

.INFOcolor{ 
  padding: 10%;
  height: 90%;
  width: 90%;

  background-color: #6AE66E;
}

.WARNcolor{
  padding: 10%;
  height: 90%;
  width: 90%;

  background-color: #FFF970;
}

.ERROcolor{
  padding: 10%;
  height: 90%;
  width: 90%;

  background-color:#FF9269;
}

.FATLcolor {
  padding: 10%;
width: 90%;
  height: 90%;
  background-color: #FF3D30;
}

.errors{
  padding:1%;
  border-style: solid;
border-color:gainsboro;
  border-width: 1px;
text-align: left;


}

.css-error-cards{

overflow:scroll;
border-radius: 2%;
padding: 2px;
height: 80vh;

}

.css-container{
  height: 80vh !important;
  padding: 1%;
}

.css-container-header{
  height: 10vh !important;
}

.card{
  background-color:rgb(235, 235, 235) !important;
  color: #282c34 !important;
  padding: 1%;
  text-align:center;
}

.text{
  display: block;
  width: 100%;
}
  
.read-or-hide{
  color: rgb(192,192,192);
  cursor: pointer;
}


.category-filter {
  display: flex;
  font-size: 14px;
  padding: 15px 0 0 0;
  position: relative;
}

.category-filter-title {
  font-size: 14px;
  padding: 0 10px 0 0;
}

.category-filter-container {
  width: 200px;
  padding: 15px 0 0 0;
}

.category-filter-dropdown {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 8px 17px 8px 16px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 15px;
  cursor: pointer;
}

.category-filter-dropdown:hover {
  background-color: rgb(248, 249, 248);
}

.category-container {
  width: 200px;
  position: absolute;
  margin-top: 10px;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgb(149 157 165 / 40%) 0px 8px 20px;
  z-index: 100;
}

.category-container.multi-select:first-child {
  padding-top: 10px;
}

.category-container-header {
  color: rgb(131, 129, 129);
  font-size: 16px;
  border-bottom: 1px solid rgb(198, 198, 198);
}

.multi-select {
  font-size: 16px;
  padding: 10px 0 0px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.multi-select:first-of-type {
  padding-top: 10px;
}

.multi-select label {
  margin-top: 1px;
  margin-left: 8px;
}

.multi-select-input {
  accent-color: #7ecdd3;
  height: 20px; /* not needed */
  width: 18px; /* not needed */
  margin-top: 4px;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
